[Unit]
Description=Accustanda Dashboard Demo PostgreSQL Database

[Container]
ContainerName=accustanda-demo-db
Pod=accustanda-demo-pod.pod
Image=postgres:alpine
Environment=POSTGRES_USER=accustanda
Environment=POSTGRES_PASSWORD=accustandapass
Environment=POSTGRES_DB=accustanda_demo_db
Volume=%h/bridge-ph/accustanda-demo/db:/var/lib/postgresql/data:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
