[Unit]
Description=Accustandard Dashboard Production PostgreSQL Database

[Container]
ContainerName=accustandard-db
Pod=accustandard-pod.pod
Image=docker.io/library/postgres:17.10-alpine3.24
Environment=POSTGRES_USER=accustandard
Environment=POSTGRES_PASSWORD=accustandardpass
Environment=POSTGRES_DB=accustandard_db
Volume=%h/bridge-ph/accustandard/db:/var/lib/postgresql/data:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
