[Unit]
Description=Accustandard Dashboard Production Container
After=accustandard-db.service

[Container]
ContainerName=accustandard-app
Pod=accustandard-pod.pod
Image=localhost/accustandard-bridge-backend:production
Environment=NODE_ENV=production
Environment=NEXT_PUBLIC_BASE_PATH=/accustandard
Environment=DATABASE_URL=postgres://accustandard:accustandardpass@localhost:5432/accustandard_db

[Service]
Restart=always

[Install]
WantedBy=default.target
